<ul class="nav">
  <li class="nav-item"><a class="nav-link" href="{{ path('alumni') }}">Alumni</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('undergraduates')}}">Undergraduates</a></li>
</ul>
