<ul class="nav">
  <li class="nav-item"><a class="nav-link" href="{{ path('member', {localIdentifier: record.localIdentifier}) }}">Member Profile</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('member_change_log', {localIdentifier: record.localIdentifier}) }}">Change Log</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('member_verify_address', {localIdentifier: record.localIdentifier}) }}">Verify Address</a></li>
</ul>
