<ul class="nav">
  <li class="nav-item"><a class="nav-link" href="{{ path('alumni') }}">Alumni</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('undergraduates')}}">Undergraduates</a></li>
  <li class="nav-item"><span class="nav-link">|</span></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('map')}}">Map</a></li>
</ul>
