
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Amount</div>
            {% for total in totals %}
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.totalAmount|format_currency(total.currency) }}</div>
            {% endfor %}
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Processing Fees</div>
            {% for total in totals %}
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.totalProcessingFee|format_currency(total.currency) }}</div>
            {% endfor %}
          </div>
          <div class="col-auto">
            <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Net Amount</div>
            {% for total in totals %}
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.totalNetAmount|format_currency(total.currency) }}</div>
            {% endfor %}
          </div>
          <div class="col-auto">
            <i class="fas fa-equals fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
