{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Events{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Events{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('event_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i> New Event</a>
{% endblock %}
{% endembed %}

{% if events %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <table class="table w-100" id="eventsTable">
      <thead>
        <tr>
          <th>Event</th>
          <th>Started</th>
          <th>Location</th>
          <th>Attendees</th>
          <th class="col-edit" data-orderable="false"></th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
        {% include 'event/_row.html.twig' %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Events matched your criteria.'} %}
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('events') }}
{% endblock %}
