{% extends 'base.html.twig' %}

{% block title %}Member Directory - Profile{% endblock %}

{% block body %}

<div>
  <div class="h4">Change Password</div>
  {{ form(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
