{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Two-Factor Security{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Two-Factor Security{% endblock %}
{% endembed %}

<div class="card mb-3 shadow" style="max-width:40rem">
  <div class="card-body py-3">
    <p class="lead">
      <i class="fas fa-check fa-fw text-success"></i> Two-Factor Security is enabled on this account.
    </p>
  </div>
  <div class="card-footer text-end">
    <form method="post" action="{{ path('app_disable_two_factor') }}">
      <input type="hidden" name="_token" value="{{ csrf_token('disableTwoFactor' ~ app.user.id) }}" />
      <button class="btn btn-delete btn-danger">Deactivate Two-Factor Security</button>
    </form>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
