parameters:
    level: 5
    paths:
        - src
    doctrine:
        objectManagerLoader: tests/object-manager.php
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/console-application.php
    stubFiles:
        - stubs/User.stub
