  <a class="nav-link" href="{{ path('home') }}">Home</a>
  <a class="nav-link" href="{{ path('alumni') }}"><i class="fas fa-user fa-fw text-muted"></i> Alumni</a>
  <a class="nav-link" href="{{ path('undergraduates')}}"><i class="fas fa-user fa-fw text-muted"></i> Undergraduates</a>
  <hr />
  <a class="nav-link" href="{{ path('map')}}"><i class="fas fa-map fa-fw text-muted"></i> Member Map</a>
