<div class="modal fade" id="modalConfidential" tabindex="-1" role="dialog" aria-labelledby="modalConfidentialLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfidentialLabel">Respect Member Privacy</h5>
      </div>
      <div class="modal-body">
        <div class="float-right p-4"><i class="fas fa-user-secret fa-5x"></i></div>
        <p class="lead"><strong>Important:</strong> The contact information for our members provided by this system is considered confidential. You are only allowed to use it for official business of the organization.</p>
        <p class="lead text-danger"><strong>Improper use of member contact information may result in your access being revoked.</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">
          Proceed to Directory
        </button>
      </div>
    </div>
  </div>
</div>
