<div class="modal fade" id="modalEditLink" tabindex="-1" role="dialog" aria-labelledby="modalEditLinkLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditLinkLabel">Self-Service Member Record Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Send the link below to a member in order for them to update their own Member Record. Note that it only works once, and will need to be regenerated after a record has been updated.</p>
        <input type="text" class="form-control" value="{{ absolute_url(path('self_service_update', {externalIdentifier: member.externalIdentifier, updateToken: member.updateToken})) }}"  readonly />
      </div>
    </div>
  </div>
</div>
