<div class="modal fade" id="personalizationTagsModal" tabindex="-1" role="dialog" aria-labelledby="personalizationTagsModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="personalizationTagsModalTitle">Personalization Tags</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'directory/_personalization_tags.html.twig' %}
      </div>
    </div>
  </div>
</div>
