{% extends 'base.html.twig' %}

{% block title %}Member Directory - Alumni{% endblock %}

{% block body %}

<div>
  {% include 'directory/partials/directory_navigation.html.twig' %}
  <div class="h4">Alumni</div>
  <table class="table" id="memberTable">
    <thead>
      <tr>
        <th class="text-center">Chapter #</th>
        <th>Name</th>
        <th>Labels</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Mailing Address</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      {% include 'directory/partials/directory_row.html.twig' %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
    $('#memberTable').DataTable({
    	dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    });
});
</script>
{% endblock %}
