{% extends 'base.html.twig' %}

{% block title %}Member Directory - Alumni{% endblock %}

{% block body %}

<div>
  {% include 'directory/partials/directory_navigation.html.twig' %}
  <div class="h4">Alumni</div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Chapter #</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      {% include 'directory/partials/directory_row.html.twig' %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
