{% extends 'base.html.twig' %}

{% block title %}Member Directory - Alumni{% endblock %}

{% block body %}

<div>
  <div class="h4">Alumni</div>
  <table class="table table-sm" id="memberTable">
    <thead>
      <tr>
        <th class="text-center">Chapter #</th>
        <th>Name</th>
        <th>Labels</th>
        <th>Class</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Mailing Address</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      {% include 'directory/partials/directory_row.html.twig' %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('directory') }}
{% endblock %}
