<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ subject }}</title>
  </head>
  <body style="font-family:sans-serif; font-size:10pt;">
    {{ body|e('html')|markdown_to_html }}

  </body>
</html>
