/* Directory Tables */
th.col-edit {
  width: 10px;
}
th.col-img-profile {
  width: 35px;
  img {
    max-width: 30px;
    max-height: 30px;
  }
}

/* Inactive */
input.inactive,
span.inactive,
label.inactive,
div.inactive,
tr.inactive {
  opacity: 0.7;
  transition: opacity .2s ease-out;
  &:hover {
     opacity: 1;
   }
}

/* Map */
#mapElements {
  position: relative;
}
#mapContainer {
  height: 80vh;
}
#mapContainerLoading {
  position: absolute;
  font-size: 3rem;
  width: 100%;
  text-align:center;
  top: 50%;
  left: 0;
  z-index: 1000;
  &> div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1rem;
    border-radius: 10px;
    max-width: 375px;
    margin: auto;
  }
}
#memberMapContainer {
  height: 30vh;
}

/* User Steps */
ol.user-steps {
  padding-left: 0;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  >li {
    position: relative;
    padding-left: 60px;
    min-height: 60px;
    &:before {
      content: counter(li);
      counter-increment: li;
      color: #f8f9fc;
      background-color: #858796;
      border-color: #000;
      border-radius: 50%;
      font-size: 18px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 767px) {
    li.paginate_button.previous {
        display: inline;
    }

    li.paginate_button.next {
        display: inline;
    }

    li.paginate_button {
        display: none;
    }
}
