body {
  font-size: .875rem;
  background-color: #f8f9fc;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color:rgba(30, 30, 30, .9)
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

.sidebar .nav-item.active .nav-link {
  color: #afeeee;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Directory Tables */
th.col-edit {
  width: 10px;
}
th.col-img-profile {
  width: 35px;
  img {
    max-width: 30px;
    max-height: 30px;
  }
}

/* Inactive */
input.inactive,
span.inactive,
label.inactive,
div.inactive,
tr.inactive {
  opacity: 0.5;
  transition: opacity .2s ease-out;
  &:hover {
     opacity: 1;
   }
}

/* DataTables */
tr.child {
  td {
    background-color: #f8f9fc;
  }
}

/* Map */
#mapElements {
  position: relative;
}
#mapContainer {
  height: 80vh;
}
#mapContainerLoading {
  position: absolute;
  font-size: 3rem;
  width: 100%;
  text-align:center;
  top: 50%;
  left: 0;
  z-index: 1000;
  &> div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1rem;
    border-radius: 10px;
    max-width: 375px;
    margin: auto;
  }
}
#memberMapContainer {
  height: 30vh;
}

/* User Steps */
ol.user-steps {
  padding-left: 0;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  >li {
    position: relative;
    padding-left: 60px;
    min-height: 60px;
    &:before {
      content: counter(li);
      counter-increment: li;
      color: #f8f9fc;
      background-color: #858796;
      border-color: #000;
      border-radius: 50%;
      font-size: 18px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 767px) {
    li.paginate_button.previous {
        display: inline;
    }

    li.paginate_button.next {
        display: inline;
    }

    li.paginate_button {
        display: none;
    }
}
