<script>
jQuery(document).ready(function() {
    // Get the ul that holds the collection
    var $collectionHolder = $('ol.entityCollection');
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find('select').length);

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addCollectionFormDeleteLink($(this));
    });

    $('body').on('click', '.add_item_link', function(e) {
        var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
        // add a new tag form (see next code block)
        addFormToCollection($collectionHolderClass);
    })
});
function addFormToCollection($collectionHolderClass) {
    // Get the ul that holds the collection
    var $collectionHolder = $('.' + $collectionHolderClass);

    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your field
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add ..." link li
    var $newFormLi = $('<li></li>').append('<div class="input-group mb-2">' + newForm + '</div>');
    // Add the new form at the end of the list
    $collectionHolder.append($newFormLi)

    // add a delete link to the new form
    addCollectionFormDeleteLink($newFormLi);

    // Instantiate selectpicker for new element
    $('.selectpicker', $newFormLi).selectpicker();
}

function addCollectionFormDeleteLink($collectionFormLi) {
    var $removeFormButton = $('<div class="input-group-append"><button type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i><span class="sr-only">Delete</span></button></div>');
    $('div.input-group', $collectionFormLi).append($removeFormButton);
    $removeFormButton.on('click', function(e) {
        // remove the li for the form
        $collectionFormLi.remove();
    });
}

</script>
