<div class="modal fade" id="modalHotkeys" tabindex="-1" role="dialog" aria-labelledby="modalHotkeysLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalHotkeysLabel">Hot Keys</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-2 text-center"><code>?</code></dt>
          <dd class="col-sm-10">Show this help modal</dd>
          <dt class="col-sm-2 text-center"><code>/</code></dt>
          <dd class="col-sm-10">Focus on search field</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
