<div class="card mb-3 shadow">
  <div class="card-body body">
    <div class="py-5" style="">
      <div class="h2 text-center">{{ message|default('No records matched your criteria.') }}</div>
    </div>
  </div>
</div>
