<div class="row mb-1">
  <div class="col-md-7 text-left">
    <span class="h4">{% block page_header_title %}{% endblock %}</span>
  </div>
  <div class="col-md-5 text-right">
    {% block page_header_buttons %}{% endblock %}
  </div>
</div>
