<div class="d-flex mb-3">
  <div class="mr-auto">
    <span class="h4">{% block page_header_title %}{% endblock %}</span>
  </div>
  <div class="text-right">
    {% block page_header_buttons %}{% endblock %}
  </div>
</div>
