<div class="d-flex align-content-between flex-wrap my-3">
  <div class="me-auto mb-2 mb-md-0">
    <span class="display-6">{% block page_header_title %}{% endblock %}{% if beta is defined and beta %} <sup><span class="badge badge-primary">BETA</span></sup>{% endif %}</span>
  </div>
  <div class="text-end">
    {% block page_header_buttons %}{% endblock %}
  </div>
</div>
