<div aria-live="polite" aria-atomic="true" style="position: absolute; top:5em; right: 0;">
  <div id="toastContainer">
    <template id="toastTemplate">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="min-width:400px;">
        <div class="toast-header">
          <strong class="mr-auto toast-title"></strong>
          <small class="toast-time-ago"></small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body"></div>
      </div>
    </template>
  </div>
</div>
