{% extends 'base-public.html.twig' %}

{% block title %}Record Update Received{% endblock %}

{% block body %}
{% if config.app_logo %}
<div class="text-center mb-5">
  <img src="{{ config.app_logo }}" class="img-fluid" style="max-height:40vh" />
</div>
{% endif %}
<div>
  <div class="h4">Thank You!</div>
  <p class="lead">Your Member Record update has been submitted!</p>
</div>
{% endblock %}
