{% extends 'base_public.html.twig' %}

{% block title %}Record Update Received{% endblock %}

{% block body %}
<div class="mt-5 mb-5">
  <div class="h4">Thank you!</div>
  <p class="lead">Your Member Record has been updated!</p>
</div>
{% endblock %}
