{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
<div class="h4">New Tag</div>

{% include 'admin/_nav.html.twig' %}

{{ include('tag/_form.html.twig') }}

{% endblock %}
