{{ form_start(form) }}
<div class="card mb-3" style="max-width:25rem">
  <div class="card-header">Edit Tag</div>
  <div class="card-body">
    {{ form_widget(form) }}
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
  </div>
</div>
{{ form_end(form) }}
