{% extends 'base_public.html.twig' %}

{% block title %}{{ parent() }} - Access Denied!{% endblock %}

{% block body %}
<div class="my-5 text-center">
  <h1>Access Denied!</h1>
  <p class="lead">You don't have permission to access that page.</p>
  <p><a href="{{ path('home') }}" class="btn btn-link">Return to Home Page</a></p>
</div>
{% endblock %}
