{% extends 'base_public.html.twig' %}

{% block title %}{{ parent() }} - Page Not Found!{% endblock %}

{% block body %}
<div class="my-5 text-center">
  <h1>Page Not Found!</h1>
  <p class="lead">We're not sure what you were looking for, but it isn't here.</p>
  <p><a href="{{ path('home') }}" class="btn btn-link">Return to Home Page</a></p>
</div>
{% endblock %}
