{{ form_start(form) }}
<div class="card mb-3 shadow">
  <div class="card-body">
    {{ form_widget(form) }}
  </div>
  <div class="card-footer text-end">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
  </div>
</div>
{{ form_end(form) }}
