{% macro user_roles(roles) %}
<ul class="list-unstyled">
  <li class="list-item"><i class="fas fa-{% if 'ROLE_USER' in roles %}check text-success{% else %}times text-danger{% endif %}"></i> Basic User</li>
  <li class="list-item"><i class="fas fa-{% if 'ROLE_ADMIN' in roles %}check text-success{% else %}times text-danger{% endif %}"></i> Administrator</li>
</ul>
{% endmacro %}
